
name: Build and Push Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          push: true
          context: .
          tags: |
            ${{ secrets.DOCKERHUB_USER }}/demo-app:${{ github.sha }}
            ${{ secrets.DOCKERHUB_USER }}/demo-app:latest

      - name: Export IMAGE_TAG
        run: echo "IMAGE_TAG=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Trigger GitOps update workflow
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.GH_PAT }}
          script: |
            const repo = 'aminse/gitops-repo'
            const workflow_id = 'update-dev.yml'
            const inputs = { image_tag: process.env.IMAGE_TAG }
            await github.actions.createWorkflowDispatch({
              owner: repo.split('/')[0],
              repo: repo.split('/')[1],
              workflow_id,
              ref: 'main',
              inputs
            })
